body {
  --color1: #61a4bc;
  --color2: #1a132f;
  --aqua3: mediumaquamarine;
  --color4: #bbeff8ce;
  --boxshadow: #e6e1e1ce;
}
.sp-font {
  font-family: "Newsreader", serif;
}
.logo {
  color: white;
  transition: linear 1s;
  font-family: "Newsreader", serif;
}
.logo:hover {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.navbar {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.headline {
  font-family: "Newsreader", serif;
  color: #4b6cb7;
  box-shadow: -1.6px 1px 10px #4b6cb7;
  border-radius: 0.5em;
  margin-bottom: 3vh;
}
.headline:hover {
  cursor: default;
}
.card {
  border-radius: 1em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  box-shadow: -1.6px 3px 10px var(--boxshadow);
  z-index: 1;
}
.card:hover {
  transform: scale(1.01);
}
.card-img-top {
  border-radius: 1em 1em 0.1em 0.1em;
}
.page-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: white !important;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.nav-link:hover {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  transform: scale(1.03);
}
.navbar-toggler {
  background-color: var(--color1) !important;
}
.btn-color {
  background-color: var(--color1);
  color: white;
}
